@model VotingSystem.Models.User

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<section id="loginForm">

<h2>Use a local account to log in.</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.Label("User Name")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.Label("Password")
                @Html.PasswordFor(m => m.UserPassword)
                @Html.ValidationMessageFor(m => m.UserPassword)
            </li>
          
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
  
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
